 /* {
  font-family: 'Nanum Gothic', sans-serif !important;
} */

.navbar {
  background-color: #31a2c4;
  margin-top: 0px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.d-inline-block {
  border-radius: 10px;
}

.nav-link {
  font-size: 1.5em !important;
  font-family: 'Nanum Gothic', sans-serif !important;
  margin-left: 5px;
}

.margins {
  margin-top: 10px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}



.LogOutButton {
  background-color: #31a2c4;
  border: none;
  border-color: #31a2c4;
  font-size: 1.5em !important;
  font-family: 'Nanum Gothic', sans-serif !important;
  margin-left: 5px;
}
.loginBox {
  text-align: center;
}

.centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;


}
.feedback textarea  {
  border: .5px solid;
  border-radius: 3px;
  border-color: gray ;
  padding: 5px;
  width: 100%;
}
.feedback input  {
  border: .5px solid;
  border-radius: 3px;
  border-color: gray ;
  width: 100%
}
.feedback button  {
  margin-top: 5px;
  background-color: #31a2c4;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  height: 36px;
}

.appointmentSlotUl{
  padding-left: 0px;
}

.appointmentInfoLi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 0px;
}

.appointmentInfoLi p {
  margin-bottom: 0;
}

.slotInfoDiv {
  display: flex;
  flex-direction: column;
  margin-top: 17.5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  padding: 40px 60px 40px 60px;
}

.slotInfoDiv h5 {
  margin-bottom: 20px;
}
